.forgot-password-container {
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center; /* Alineación a la izquierda */
  align-items: center; /* Alineación en la parte superior */
  padding-left: 50px; /* Espaciado a la izquierda */
  padding-top: 50px; /* Espaciado en la parte superior */
}

.forgot-password-form {
  background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco semitransparente */
  padding: 30px;
  border-radius: 30px; /* Bordes más redondeados */
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1); /* Sombra suave */
  max-width: 400px;
  width: 100%;
  text-align: left; /* Alineación del texto a la izquierda */
  backdrop-filter: blur(10px); /* Efecto de fondo difuminado */
}

.forgot-password-form input {
  display: block;
  width: 100%;
  margin-bottom: 15px; /* Espaciado ajustado */
  padding: 12px; /* Padding aumentado para mejor usabilidad */
  border: 1px solid #ddd; /* Color de borde más suave */
  border-radius: 8px; /* Bordes más redondeados */
  font-size: 14px;
  transition: all 0.3s ease; /* Transición suave al foco */
}

.forgot-password-form input:focus {
  border-color: #a1e91c; /* Color del borde al hacer foco */
  outline: none;
  box-shadow: 0 0 5px rgba(161, 233, 28, 0.5);
}

.forgot-password-form button {
  padding: 12px;
  background-color: #a1e91c;
  color: white;
  border: none;
  border-radius: 25px; /* Bordes más redondeados */
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease; /* Transición suave */
}

.forgot-password-form button:hover {
  background-color: #8cc214;
}

.forgot-password-form button:active {
  background-color: #79a710;
  transform: scale(0.98); /* Efecto al hacer clic */
}

.success-message {
  background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco semitransparente */
  padding: 30px;
  border-radius: 30px; /* Bordes más redondeados */
  text-align: center;
  max-width: 400px;
  width: 100%;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1); /* Sombra suave */
  backdrop-filter: blur(10px); /* Efecto de fondo difuminado */
}
